Source: ros-jazzy-wireless-watcher
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-diagnostic-updater, ros-jazzy-rclcpp, ros-jazzy-wireless-msgs, wireless-tools, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-wireless-watcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-diagnostic-updater, ros-jazzy-rclcpp, ros-jazzy-wireless-msgs, wireless-tools, ros-jazzy-ros-workspace
Description: A node which publishes connection information about a linux wireless interface.
